beautifulsoup4==4.14.3
build==1.4.2
certifi==2026.2.25
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.7
check-manifest==0.51
cmarkgfm==2025.10.22
colorama==0.4.6
coverage==7.13.5
cryptography==48.0.0
distlib==0.4.1
docutils==0.22.4
filelock==3.25.2
id==1.6.1
identify==2.6.18
idna==3.15
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jeepney==0.9.0
keyring==25.7.0
lxml==6.0.3
markdown-it-py==4.2.0
mdurl==0.1.2
more-itertools==11.1.0
nh3==0.3.4
nodeenv==1.10.0
packaging==26.0
platformdirs==4.9.6
pluggy==1.6.0
pre_commit==4.5.1
pycparser==3.0
Pygments==2.20.0
pyproject_hooks==1.2.0
pyroma==5.0.1
pytest==9.0.3
pytest-cov==7.1.0
PyYAML==6.0.3
readme_renderer==44.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.3.3
SecretStorage==3.5.0
setuptools==82.0.1
soupsieve==2.8.3
trove-classifiers==2026.6.1.19
twine==6.2.0
typing_extensions==4.15.0
urllib3==2.7.0
virtualenv==21.4.2
wheel==0.47.0
zest.releaser==9.9.1
