beautifulsoup4==4.15.0
build==1.5.0
certifi==2026.5.20
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.7
check-manifest==0.51
colorama==0.4.6
comrak==0.0.12
coverage==7.14.1
cryptography==50.0.0
distlib==0.4.2
docutils==0.23
filelock==3.29.1
id==1.6.1
identify==2.6.19
idna==3.18
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jeepney==0.9.0
keyring==25.7.0
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
more-itertools==11.1.0
nh3==0.3.5
nodeenv==1.10.0
packaging==26.2
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
pycparser==3.0
Pygments==2.20.0
pyproject_hooks==1.2.0
pyroma==5.0.1
pytest==9.0.3
pytest-cov==7.1.0
python-discovery==1.4.0
PyYAML==6.0.3
readme_renderer==45.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
SecretStorage==3.5.0
setuptools==82.0.1
soupsieve==2.8.4
trove-classifiers==2026.6.1.19
twine==6.2.0
typing_extensions==4.15.0
urllib3==2.7.0
virtualenv==21.4.2
wheel==0.47.0
zest.releaser==9.9.1
